@charset "UTF-8";

body {
	background: #f7f7f7;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 2.5em;
	padding: 5px;
}

#wrapper {
	background: #f1f1f1;
	margin: 0 auto;
	min-width: 480px;
	max-width: 80%;
}

#header {
	background: #fd620e;
	color: #fff;
	height: 4.5em;
}

#header_logo {
	border: 5px solid #fefefe;
	box-sizing: border-box;
	float: left;
	height: 4.5em;
	width: 4.5em;
}

#header_info {
	float: left;
	height: 100%;
}

#header_info p {
	padding: 0 0 0 5px;
}

#header_user {
	display: inline-block;
	float: right;
	height: 4.5em;
	text-align: center;
	vertical-align: middle;
	width: 4.5em;
}

#content {
	clear: both;
	display: block;
}

#content ol {
	line-height: 1.5em;
	list-style: decimal;
	list-style-position: inside;
	padding: 0;
}

#content li {
	/*background: green;*/
	padding: 5px;
}

#content li:nth-child(even) {
	/*background: #eaeaea;*/
}

.story {
	padding: 5px;
}

.story_link {
	color: #999;
	font-size: 0.8em;
}

.story_user {
	
}

.story_time {
	
}

.story_options {
	color: #999;
	font-size: 0.8em;
	padding: 0 0 0 20px;
}

#footer {
	
}

@media only screen and (max-device-width: 750px) {
	

  h1 {
	  font-size: 5em;
	  padding: 5px;
  }
  
  #wrapper {
	  background: #f1f1f1;
	  margin: 0 auto;
	  min-width: 480px;
	  max-width: 100%;
  }
  
  #header {
	  background: #fd620e;
	  color: #fff;
	  height: 9em;
  }
  
  #header_logo {
	  border: 10px solid #fefefe;
	  box-sizing: border-box;
	  float: left;
	  height: 9em;
	  width: 9em;
  }
  
  #header_info {
	  float: left;
	  height: 100%;
  }
  
  #header_info p {
	  font-size: 2.5em;
	  padding: 0 0 0 10px;
  }
  
  #header_user {
	  display: inline-block;
	  float: right;
	  height: 9em;
	  text-align: center;
	  vertical-align: middle;
	  width: 9em;
  }
  
  #content {
	  clear: both;
	  display: block;
  }
  
  #content ol {
	  font-size: 1.5em;
	  line-height: 3em;
	  list-style: decimal;
	  list-style-position: inside;
	  padding: 0;
  }
  
  #content li {
	  /*background: green;*/
	  padding: 5px;
  }
  
  #content li:nth-child(even) {
	  /*background: #eaeaea;*/
  }
  
  .story {
	  font-size: 1.5em;
	  padding: 10px;
  }
  
  .story_link {
	  color: #999;
	  font-size: 1em;
  }
  
  .story_user {
	  
  }
  
  .story_time {
	  
  }
  
  .story_options {
	  color: #999;
	  font-size: 1.6em;
	  padding: 0 0 0 20px;
  }
  
  #footer {
	  
  }

}