@charset "UTF-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e4e4e4;
	margin: 0;
	padding: 0;
	color: #000;
}

#container {
	background: #fff;
	margin: 0 auto;
	max-width: 552px;
	min-width: 552px;
}

.icon {
	/*background: #f2f2f2;
	border-bottom: 20px solid #fff;
	border-left: 20px solid #fff;
	border-right: 20px solid #fff;
	text-align: center;*/
}

@media only screen and (max-device-width: 640px) {
	
	#container {
		background: #fff;
		margin: 0 auto;
		max-width: 100%;
		min-width: 100%;
	}
	
	#wrapper {
		background: #fff;
		margin: 0 auto;
		width: 100%;
	}
	
	.icon {
		/*background: #f2f2f2;
		border-bottom: 20px solid #fff;
		border-left: 20px solid #fff;
		border-right: 20px solid #fff;
		text-align: center;*/
	}
	
}

