@charset "UTF-8";

body {
	background: #ddd;
	color: #666;
	font-family: 'Lato', sans-serif;
}

img {
	border-radius: 6px;	
}

#wrapper {
	background: #fff;
	margin: 0 auto;
	min-width: 552px;
	max-width: 552px;
}

#header {
	font-size: 4em;
	padding: 10px;
}

#sub_header {
	border-bottom: 1px solid #ededed;
	margin: 0 auto;
	padding: 10px;
	width: 532px;
}

#navigation {
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 96%;
}

#content {
	width: 100%;
}

.spacer {
	clear: both;
	display: block;
	height: 20px;
}

.icon {
	background-color: #fff;
	display: block;
	float: left;
	margin: 0;
	max-width: 512px;
	min-width: 512px;
	padding: 0 20px 20px 20px;
	position: relative;
}

.icon_date {
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 12px;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	right: 20px;
}

.icon_title {
	bottom: 35px;
	color: #fff;
	font-size: 18px;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 512px;
}

#footer {
	border-top: 1px solid #ededed;
	clear: both;
	display: block;
	font-size: 10px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: 512px;
}

@media only screen and (max-device-width: 640px) {
	
	#content {
		width: 100%;
	}
	
	#wrapper {
		background: #333;
		margin: 0 auto;
		max-width: 100%;
		min-width: 100%; 
	}
	
	.icon {
		/*background-color: #fff;
		display: block;
		float: left;
		margin: 0;
		padding: 0 20px 20px 20px;
		position: relative;
		width: 100%;*/
		background: #fff;
		border-bottom: 20px solid #fff;
		border-left: 20px solid #fff;
		border-right: 20px solid #fff;
		text-align: center;
		}
		
	.icon_date {
		color: #fff;
		display: inline-block;
		float: right;
		font-size: 12px;
		margin: 0 auto;
		padding: 20px;
		position: absolute;
		right: 20px;
	}

	.icon_title {
		bottom: 35px;
		color: #fff;
		font-size: 18px;
		padding: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	#footer {
		border-top: 1px solid #ededed;
		clear: both;
		display: block;
		font-size: 10px;
		margin: 0 auto;
		padding: 20px;
		text-align: center;
		width: 100%;
	}
	
}